<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/site.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1><a href="/">{{ site.title }}</a></h1>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <small>&copy; {{ site.time | date: "%Y" }}</small>
    </footer>
    <script src="/assets/site.js"></script>
  </body>
</html>
