<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{{'/assets/css/main.css' | relative_url}}" rel="stylesheet" />
  </head>

  <body>
    <div class="shell">
      {% include sidebar.html %}
      <main id="main" class="content">
        <div class="container">{{ content }}</div>
      </main>
    </div>

    {% include footer.html %}
    <script src="{{ '/assets/js/helpers.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/modal.js'   | relative_url }}"></script>
    <script src="{{ '/assets/js/courses.js' | relative_url }}"></script>
  </body>
</html>
